body{
	margin:0;
	font-family:'Helvetica','Arial',sans-serif;
}

div#header{
	background-color:#5F9B0A;
	color:white;
	font-style: italic;
	overflow:hidden;
	font-size:1.5rem;
	height:3rem;
	line-height:3rem;
	padding-left:5px;
}

div.product{
	padding:5px;
}

img{
	float:right;
	position:relative;
  	top:50%;
  	transform:translateY(-50%);
}

span.data{
	float:right;
}

div#input{
	position:fixed;
	left:50%;
    top:50%;
	border:1px solid grey;
	width:60%;
	transform:translate(-50%, -50%);
	display:none;
	padding:5px;
	background:white;
}

input#product{
	width:100%;
}

table#expdate{
	width:100%;
}

input#year{
	width:100%;
}

input#month{
	width:100%;
}

input#day{
	width:100%;
}

div#delete{
	position:fixed;
	left:50%;
    top:50%;
	border:1px solid grey;
	width:60%;

	transform:translate(-50%, -50%);
	display:none;
	padding:5px;
	background:white;
}
